[user]
    name = nofalbriansah
    email = nofalbriansah@gmail.com

[core]
    excludesfile = "$HOME/.gitignore_global"
    
[http]
    proxy = http://192.168.168.25:1100

[https]
    proxy = http://192.168.168.25:1100

