# roles/workstation/tasks/main.yml
---
# 1. Load OS-specific variables (Daftar paket dari vars/Archlinux.yml)
- name: "SETUP | Load OS Variables"
  include_vars:
    file: "{{ role_path }}/vars/{{ ansible_facts['distribution'] }}.yml"

# 2. Run Package Management (Menggunakan file packages.yml yang baru kamu buat)
- name: "TASK | Package Management"
  include_tasks: packages.yml
  tags: ["packages"]

# 3. Run Dotfiles symlinking
- name: "TASK | Symlink Dotfiles"
  include_tasks: dotfiles.yml
  tags: ["dotfiles"]

# 4. Run Theme & Icon setup
- name: "TASK | Setup Themes"
  include_tasks: themes.yml
  tags: ["themes"]
