---
# Load OS-specific variables based on distribution
- name: "SETUP | Load OS Variables"
  include_vars: "{{ ansible_facts['distribution'] }}.yml"

# Check if OS-specific task file exists
- name: "SETUP | Check for OS-Specific Tasks"
  stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts['distribution'] }}.yml"
  register: distro_tasks

# Execute OS-specific tasks (e.g., Pacman/AUR)
- name: "INSTALL | Run OS-Specific Tasks"
  include_tasks: "{{ ansible_facts['distribution'] }}.yml"
  when: distro_tasks.stat.exists

# Run Dotfiles symlinking
- name: "TASK | Symlink Dotfiles"
  include_tasks: dotfiles.yml
  tags: ["dotfiles"]

# Run Theme & Icon setup
- name: "TASK | Setup Themes"
  include_tasks: themes.yml
  tags: ["themes"]
